<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="au.id.rlac.plainwall">

  <uses-feature android:name="android.software.live_wallpaper"/>

  <application
      android:allowBackup="true"
      android:fullBackupContent="false"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:theme="@style/AppTheme"
      tools:ignore="GoogleAppIndexingWarning">

    <service
        android:name=".wallpaper.ColorWallpaperService"
        android:exported="true"
        android:permission="android.permission.BIND_WALLPAPER">
      <intent-filter>
        <action android:name="android.service.wallpaper.WallpaperService"/>
      </intent-filter>
      <meta-data
          android:name="android.service.wallpaper"
          android:resource="@xml/wallpaper"/>
    </service>

    <activity
        android:name=".ui.PlainWallpaperActivity$LauncherActivity"
        android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
        android:name=".ui.PlainWallpaperActivity$SettingsActivity"
        android:exported="true"
        android:label="@string/app_name"
        />

  </application>

</manifest>
